<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <ProjectUrl>https://pubcomp.codeplex.com</ProjectUrl>
  <LicenseUrl>https://pubcomp.codeplex.com/license</LicenseUrl>
  <Authors>Danny Varod</Authors>
  <Owners>Danny Varod</Owners>
  <Description>Monitoring aspect for exception logging, tracing and monitoring performance</Description>
  <Summary>Monitoring aspect for exception logging, tracing and monitoring performance</Summary>
  <Keywords>Monitor, Monitoring, AOP, Aspect Oriented, Logging, Performance, Tracing</Keywords>
</NuGetPack>