<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <DoIncludeCurrentProjectInNuSpec>true</DoIncludeCurrentProjectInNuSpec>
  <ProjectUrl>https://github.com/pub-comp/aspects</ProjectUrl>
  <LicenseUrl>https://github.com/pub-comp/caching/blob/master/License.txt</LicenseUrl>
  <Authors>Danny Varod</Authors>
  <Owners>Danny Varod</Owners>
  <Description>Monitoring aspect for exception logging, tracing and monitoring performance</Description>
  <Summary>Monitoring aspect for exception logging, tracing and monitoring performance</Summary>
  <Keywords>Monitor, Monitoring, AOP, Aspect Oriented, Logging, Performance, Tracing</Keywords>
</NuGetPack>