<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false" autoReload="true" internalLogFile="c:\logs\nlog-internal-log.txt" internalLogLevel="Warn">
    <targets>
      <target xsi:type="Memory" name="testTarget" layout="Date=${longdate}|Level=${level}|Source=${logger}|Message=${message}|CallSite=${callsite}" />
      <target xsi:type="Console" name="console" layout="Date=${longdate}|Level=${level}|Source=${logger}|Message=${message}|CallSite=${callsite}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="testTarget" />
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>
  
</configuration>
